alabaster==0.7.12
Babel==2.9.1
certifi==2019.3.9
chardet==3.0.4
docutils==0.14
future==0.17.1
idna==2.8
imagesize==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
packaging==19.0
Pygments==2.4.2
pyparsing==2.4.0
pytz==2019.1
PyYAML==5.2
requests==2.22.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.5
sphinx-tabs==1.1.10
sphinxcontrib-confluencebuilder==1.1.0
sphinxcontrib-plantuml==0.16.1
sphinxcontrib-websupport==1.1.2
sphinxcontrib.datatemplates==0.2.0
typing==3.6.6
urllib3==1.25.3
virtualenv==16.3.0
