Title01 (Hardcoded so far)
==========================

{{ data['key1'] }}


Example of table from list
==========================

{{ make_list_table(
   ['Column01', 'Column02'],
   data['nested-list'],
   title='Simple table',
   ) }}
